[Unit]
Description=D-STAR APRS Transmit Daemon
Wants=ircddbgatewayd.service
After=ircddbgatewayd.service

[Service]
User=opendv
EnvironmentFile=/etc/opendv/aprstransmitd_%i.conf
ExecStart=/usr/sbin/aprstransmitd %i -host $APRS_SERVER -port $APRS_PORT -filter ${FILTER}
Restart=on-abort

[Install]
WantedBy=multi-user.target
DefaultInstance=1
