[Unit]
Description=D-STAR Timer Control Daemon
Wants=ircddbgatewayd.service
After=ircddbgatewayd.service

[Service]
User=opendv
ExecStart=/usr/sbin/timeserverd
Restart=on-abort

[Install]
WantedBy=multi-user.target
