*~
*.a
*.bak
*.o
*.suo
*.ncb
*.zip
*.exe
*.log
Debug
Release
*.user
HID
WinUSB
portaudio
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
m4/
stamp-h?
.deps/
.dirstamp
*.o
*~
ar-lib
compile
depcomp
install-sh
missing
