callsign=N0CALL C
gateway=       G
mode=0
ack=1
restriction=0
rpt1Validation=1
dtmfBlanking=1
errorReply=1
gatewayAddress=127.0.0.1
gatewayPort=20010
localAddress=127.0.0.1
localPort=20011
networkName=
modemType=Sound Card
timeout=180
ackTime=500
beaconTime=600
beaconText=D-Star Repeater
beaconVoice=0
language=0
announcementEnabled=0
announcementTime=480
announcementRecordRPT1=
announcementRecordRPT2=
announcementDeleteRPT1=
announcementDeleteRPT2=
controlEnabled=0
controlRPT1=
controlRPT2=
controlShutdown=
controlStartup=
controlStatus1=
controlStatus2=
controlStatus3=
controlStatus4=
controlStatus5=
controlCommand1=
controlCommand1Line=
controlCommand2=
controlCommand2Line=
controlCommand3=
controlCommand3Line=
controlCommand4=
controlCommand4Line=
controlCommand5=
controlCommand5Line=
controlCommand6=
controlCommand6Line=
controlOutput1=
controlOutput2=
controlOutput3=
controlOutput4=
controllerType=
serialConfig=1
pttInvert=0
activeHangTime=0
output1=0
output2=0
output3=0
output4=0
logging=0
windowX=-1
windowY=-1
dvapPort=
dvapFrequency=145500000
dvapPower=10
dvapSquelch=-100
gmskAddress=768
dvrptr1Port=
dvrptr1RXInvert=0
dvrptr1TXInvert=0
dvrptr1Channel=0
dvrptr1ModLevel=20
dvrptr1TXDelay=150
dvrptr2Connection=0
dvrptr2USBPort=
dvrptr2Address=127.0.0.1
dvrptr2Port=0
dvrptr2TXInvert=0
dvrptr2ModLevel=20
dvrptr2TXDelay=150
dvrptr3Connection=0
dvrptr3USBPort=
dvrptr3Address=127.0.0.1
dvrptr3Port=0
dvrptr3TXInvert=0
dvrptr3ModLevel=20
dvrptr3TXDelay=150
dvmegaPort=
dvmegaVariant=0
dvmegaRXInvert=0
dvmegaTXInvert=0
dvmegaTXDelay=150
dvmegaRXFrequency=145500000
dvmegaTXFrequency=145500000
dvmegaPower=100
mmdvmPort=
mmdvmRXInvert=0
mmdvmTXInvert=0
mmdvmPTTInvert=0
mmdvmTXDelay=50
mmdvmRXLevel=100
mmdvmTXLevel=100
soundCardRXDevice=
soundCardTXDevice=
soundCardRXInvert=0
soundCardTXInvert=0
soundCardRXLevel=1.0000
soundCardTXLevel=1.0000
soundCardTXDelay=150
soundCardTXTail=50
splitLocalAddress=
splitLocalPort=0
splitTimeout=0
